body{
    background-size:cover;
}

.heading{
    width:100%;
    font-size: 25px;
    margin:0;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rebeccapurple;
}

canvas{
border:5px 5px 5px solid blueviolet;
border-radius: 8px;
box-shadow: 5px 5px 5px grey;

}

.instr {
    color:red;
    font-size: 18px;
}
